<header>
  <h2>Dashboard</h2>
</header>

  <form action="/api/menu/select" method="post">
<article>
  <select name="id" id="id">
    {{#each menuItems}}
      <option value="{{id}}">{{food}} - calories: {{calories}}</option>
    {{/each}}
  </select>
  <footer>
    <button type="submit">Select Menu Item</button>
  </footer>
</article>
  </form>
<article>
  <footer>
    <a href="#" role="button" class="secondary">Delete</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="contrast">Update</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="outline">Edit</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="contrast outline">Cancel</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="secondary outline">Save</a>
  </footer>
</article>
