<header>
  <h2>Blog Index</h2>
</header>
{{#each menuItems as |menuItem| }}
<article>
  <header>
    <h2>{{menuItem.foodGroup}}</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptatum velit nulla provident eos ipsam facere inventore eum. Consectetur laboriosam asperiores expedita repellendus esse iste consequatur quia doloremque cum praesentium.
  </p>
</article> 
{{/each}}
